body {
    font-family: Arial, sans-serif;
    position: relative; /* so the child's absolute positioning is relative to the body */
    height: 100vh; /* to ensure the body stretches the full viewport height */
    padding-bottom: 70px; /* pushing the content up to adjust for mobile browsers */
}

#buttonWrapper {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#buttons {
    display: flex;
    justify-content: center;
}

/* Other styles remain the same */

#sentenceDisplay {
    font-size: 3em;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    height: auto;
    border: 1px solid #000;
    padding: 10px;
    white-space: pre-wrap;
    line-height: 1.6;
}

button {
    font-size: 2em;
    padding: 20px;
}

.highlight {
    background-color: yellow;
}
