body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4; /* Adding a soft background color */
    color: #333; /* Dark grey color for texts for better contrast and readability */
    position: relative;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: hidden; /* Disable vertical scrolling */
}


#buttonWrapper {
    position: fixed;
    right: 0; /* Changing from left to right as you want it to be on the right */
    bottom: 0;
    width: auto; /* Adjust the width to wrap the buttons instead of being full width */
    padding: 5px; /* Add some padding around the buttons */
    background-color: #fff; /* Add background color for visibility */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1); /* Shadow for depth */
}

#buttons {
    display: flex;
    justify-content: space-between; /* Space out the buttons */
}

#sentenceDisplay {
    font-size: 2em;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    height: auto;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1); /* Shadow for depth */
    white-space: pre-wrap;
    line-height: 1.6;
    background-color: #fff; /* White background */
}

textarea {
    font-size: 1.2em;
    padding: 10px;
    width: 90%; /* Match with the sentence display width */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1); /* Shadow for depth */
    margin-bottom: 20px; /* Add some space at the bottom */
}

button {
    font-size: 1.5em;
    padding: 22px;
    margin: 0 5px; /* Add some space around the buttons */
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    background-color: #0066ff; /* Blue background */
    color: #fff; /* White text */
}

button:active { /* Change the button color when clicked */
    background-color: #0052cc;
}

.highlight {
    background-color: #ffeb3b; /* Brighter yellow for better visibility */
    color: #333; /* Dark text color for better contrast */
}
